* {
  margin: 0;
  padding: 0;
  font-family: "Bebas Neue", cursive;
  font-family: "Josefin Sans", sans-serif;
}

.nav-style {
  background-color: rgba(19, 19, 19, 0.671);
}

.about-img {
  width: 50%;
  border: 1px solid rgb(20, 0, 13);
  box-shadow: 0 4px 8px 0 rgb(72, 170, 187), 0 6px 20px 0 rgb(55, 144, 167);
}

#about {
  background-color: rgba(19, 19, 19, 0.671);
}

.bg-img-two {
  background: url(./assets/images/port-bg.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 70%;
}

.card-bg {
  background-color: rgba(19, 19, 19, 0.671) !important;
}

.img-glow {
  box-shadow: 0 4px 8px 0 rgb(72, 170, 187), 0 6px 20px 0 rgb(55, 144, 167);
}

.my-work {
  font-size: 50px;
  background-color: rgba(19, 19, 19, 0.116) !important;
  width: 25%;
  margin: auto;
  text-decoration: underline;
}

.project-img {
  width: 100%;
  margin: auto;
  height: 50%;
}

.project-title {
  font-size: 30px;
}

